@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.header {
    padding: 0 225px;
    background-color: #1f2937;
}
.header-top {
    padding: 20px 0 120px 0; 
    display: flex;
    align-items: center;
}
.header-top span {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}
.header-links {
    margin-left: auto;
    display:flex;
    gap: 32px;
}
.header-links a{
    font-size: 18px;
    color: #e5e7ebcc;
}

.header-bottom {
    display: flex;
    padding-bottom: 80px;
    gap: 60px;
}
.awesome-text h1 {
    font-weight: 900;
    font-size: 48px;
    color: #f9faf8;
}
.header-bottom img {
    width: 600px;
    height: auto;
}

.header-bottom p{
    font-size: 20px;
    color: #e5e7ebcc;
}
.header-bottom button {
    padding: 8px 32px;
    margin-top: 16px;
    background-color: #3882f6;
    color: white;
    border-radius: 10px;
    font-size: 16px;
}
.cards-portion {
    padding: 40px;
    margin-bottom: 50px;
}
.cards-portion .info {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
    margin-bottom: 40px;
}
.cards {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.card p {
    max-width: 170px;
    text-align: center;
    color: #3d3a3abb;
}
ul {
    list-style: none;
}

a {
    text-decoration: none;
}